@import "vars";

@media(max-width: 1200px){
  .project-short-item{
  	&.project-short-big{
  		padding-top: calc(50% - 15px);
  	}
  }
}
@media(max-width: 940px){
  header nav{
    position: fixed;
    height: 100vh;
    width: calc(50% - 80px);
    top: 0;
    right: -50%;
    transition: all .5s ease;
    background-color: rgba(black, .8);
    color: white;
    z-index: 100;
    text-align: left;
    padding-left: 80px;
    padding-top: 150px;
    ul.soc-icons{
      margin-left: 0;
      margin-top: 20px;
      li{
        display: inline-block;
        padding: 0;
        img{
          filter: brightness(0) invert(1);
          height: 50px;
        }
      }
    }
    ul{
      display: block;
      li{
        display: block;
        padding: 0;
        &:not(:last-child){
          padding-right: 0;
        }
        a{
          color: white;
          font-size: 45px;
        }
      }
    }
    &.active_mnu_mobile{
      right: 0;
    }
  }
  .hamburger{
    display: block;
    z-index: 1000;
    position: relative;
  }

}


@media(max-width: 640px){
  header nav{
    width: calc(100% - 80px);
    right: -100%;
  }
  .project-short-item{
  	padding-top: 100%;
  	display: block;
  	width: 100%;
  	&.project-short-big{
  		padding-top: 100%;
  	}
  }
}

@media(max-width: 400px){
  header nav{
    width: calc(100% - 40px);
    padding-left: 40px;
    padding-top: 120px;
  }
}
