$default-font: "worksans-medium", sans-serif;
$second-font: "worksans-light", sans-serif;
$accent: black;
$text: #000;


$fz_text: 15px;
$fz_head: 30px;
$fz_menu: 20px;


$container-max-width: 1400px;

$hamburger-layer-border-radius: 0;
$hamburger-hover-opacity: 1;
$hamburger-active-layer-color: #fff;
